In [12]:
#NOMBRE: VICTOR CRUZ GOMEZ
#-------------------------

#Importando libreria para el maneo de los paneles de datos
import pandas as pd
import numpy as np

In [56]:
#Leyendo el dataset de Iris
dataset=pd.read_csv('C:/Users/Vic/Documents/CursoMachineLearning/Dataset/Iris/iris.csv')

In [57]:
#Mostrando los 10 primeros registros del dataset
dataset.head(10)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

In [58]:
#Mostrando el numero de registros y columnas del dataset
dataset.shape

(150, 5)

In [82]:
#Agrupando los datos de la columna 'Specie'
dataset.groupby(['Species']).size()

Species
setosa        50
versicolor    50
virginica     50
dtype: int64

In [83]:
#Separando las variables independientes(X) y la variabe objetivo o dependiente(Y)
x=dataset.iloc[:,[0,1,2,3]].values
y=dataset.iloc[:,[4]].values

In [84]:
#Mostrando los datos de las variables independientes o caracteristicas
pd.DataFrame(x).head()

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [85]:
#Mostrando los datos de la variable objetivo
pd.DataFrame(y).head(10)

        0
0  setosa
1  setosa
2  setosa
3  setosa
4  setosa
5  setosa
6  setosa
7  setosa
8  setosa
9  setosa

In [86]:
#Mostrando totales del dataset. Total de registros, media, desviacion estandar, minimo valor, maximo valor y cuantiles.
#En la fila mean se observa que no existe gran variacion de los valores respecto a cada columna. Por lo tanto no se normalizara
dataset.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [88]:
#Importando la libreria LabelEconder para convertir/codificar valores Cadena a Numero
#En machine learning se trabaja con numeros. En PLN se trabaja con Cadenas.
from sklearn.preprocessing import LabelEncoder

In [89]:
#Instancias el objeto LabelEncoder y Ajustando-Transformado los datos de la columna Y.
labelencoder_y=LabelEncoder()
y=labelencoder_y.fit_transform(y)

C:\Users\Vic\Anaconda2\lib\site-packages\sklearn\preprocessing\label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [106]:
#Mostrando los valores codificados de Y
pd.DataFrame(y).head(10)

   0
0  0
1  0
2  0
3  0
4  0
5  0
6  0
7  0
8  0
9  0

In [91]:
#Importando la libreria train_test_split para segmentar el dataset
from sklearn.model_selection import train_test_split

In [92]:
#En dataset pequenos no es necesario el 20% de los datos de prueba
#x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0)

In [107]:
#Mostrando los datos de x_train sin estandarizar
pd.DataFrame(x_train).head()

     0    1    2    3
0  5.9  3.0  4.2  1.5
1  5.8  2.6  4.0  1.2
2  6.8  3.0  5.5  2.1
3  4.7  3.2  1.3  0.2
4  6.9  3.1  5.1  2.3

In [108]:
#Mostrando los datos de y_train sin estandarizar
pd.DataFrame(x_test).head()

     0    1    2    3
0  5.8  2.8  5.1  2.4
1  6.0  2.2  4.0  1.0
2  5.5  4.2  1.4  0.2
3  7.3  2.9  6.3  1.8
4  5.0  3.4  1.5  0.2

In [109]:
pd.DataFrame(y_train).head()

   0
0  1
1  1
2  2
3  0
4  2

In [110]:
#Importando libreria del modelo KNN clasificacion
from sklearn.neighbors import KNeighborsClassifier

In [111]:
#Instanciando un objeto de KNN con 5 vecionos y la metrica para el calculo de distancias euclidean
#Por defecto la metrica usada es minkowski
#clasificacion = KNeighborsClassifier(n_neighbors=5, metric='minkowski',p=2)
clasificacion = KNeighborsClassifier(n_neighbors=5)
#Entrenando el modelo
clasificacion.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [112]:
#Realizando la prediccion con los datos de prueba
y_pred=clasificacion.predict(x_test)

In [113]:
#Mostrando la prediccion
pd.DataFrame(y_pred).head(10)

   0
0  2
1  1
2  0
3  2
4  0
5  2
6  0
7  1
8  1
9  1

In [114]:
#Mostrando los datos originales.
#Se observa que para los 10 primeros registros el resultado de la predicion es igual a los objetivos de prueba.
pd.DataFrame(y_test).head(10)

   0
0  2
1  1
2  0
3  2
4  0
5  2
6  0
7  1
8  1
9  1

In [25]:
#pd.concat([x_test, y_test, pd.Series(y_pred, name='Predicted', index=x_test.index)], ignore_index=False, axis=1)

In [102]:
#Mostrando el score del modelo.
clasificacion.score(x_test,y_test)

0.9736842105263158

In [103]:
#En la matriz de confusion se observa que no existen errores sino puro aciertos para los datos test y la prediccion
from sklearn.metrics import confusion_matrix

In [104]:
cm=confusion_matrix(y_test,y_pred)
cm

array([[13,  0,  0],
       [ 0, 15,  1],
       [ 0,  0,  9]], dtype=int64)

In [105]:
#PREDICCION DE LA PRACTICA
#la especie predecida a partir de los parametros ingresado es: 1 - VERSICOLOR
y_pred_especifico = clasificacion.predict([[1.2,3.4,5.6,1.1]])
pd.DataFrame(y_pred_especifico)

   0
0  1