In [1]:
#---------------------------------------------------------------
#Practica 1 - Modulo II version con datos Estandarizado
#NOMBRE: VICTOR CRUZ GOMEZ
#---------------------------------------------------------------

#Importar librerias
import pandas as pd
import numpy as np

In [2]:
#Leer el dataset de Iris
dataset=pd.read_csv('C:/Users/Vic/Documents/CursoMachineLearning/Dataset/Iris/iris.csv')

In [3]:
#Mostrar los 10 primeros registros del dataset
dataset.head(10)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

In [4]:
#Mostrar el numero de registros y columnas del dataset
dataset.shape

(150, 5)

In [5]:
#Agrupar los datos de la columna 'Species'
dataset.groupby(['Species']).size()

Species
setosa        50
versicolor    50
virginica     50
dtype: int64

In [6]:
#Obtener las variables independientes(X) y la variabe objetivo o dependiente(Y)
x=dataset.iloc[:,[0,1,2,3]].values
y=dataset.iloc[:,[4]].values

In [7]:
#Mostrar los datos de las variables independientes o caracteristicas
pd.DataFrame(x).head()

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [8]:
#Mostrar los datos de la variable objetivo
pd.DataFrame(y).head(10)

        0
0  setosa
1  setosa
2  setosa
3  setosa
4  setosa
5  setosa
6  setosa
7  setosa
8  setosa
9  setosa

In [9]:
#Mostrar totales del dataset. Total de registros, media, desviacion estandar, minimo valor, maximo valor y cuantiles.
dataset.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [10]:
#Importar la libreria LabelEconder para convertir/codificar valores Cadena a Numero
from sklearn.preprocessing import LabelEncoder

In [11]:
labelencoder_y=LabelEncoder()
y=labelencoder_y.fit_transform(y)

C:\Users\Vic\Anaconda2\lib\site-packages\sklearn\preprocessing\label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [12]:
#Mostrando los datos codificados de Y
pd.DataFrame(y).head(10)

   0
0  0
1  0
2  0
3  0
4  0
5  0
6  0
7  0
8  0
9  0

In [13]:
#Segmentar el dataset
from sklearn.model_selection import train_test_split

In [14]:
#Pordefecto asigna el 75% x_train y 25% x_test
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0)

In [15]:
#Estandarizar la variable independiente X
from sklearn.preprocessing import StandardScaler

In [16]:
sc_x=StandardScaler()
x_train=sc_x.fit_transform(x_train)
x_test=sc_x.transform(x_test)

In [17]:
#Importar la libreria del modelo KNN-Clasificacion
from sklearn.neighbors import KNeighborsClassifier

In [18]:
clasificacion = KNeighborsClassifier(n_neighbors=5)
clasificacion.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [19]:
#Efectuar la prediccion con el modelo
y_pred=clasificacion.predict(x_test)
pd.DataFrame(y_pred).head(10)

   0
0  2
1  1
2  0
3  2
4  0
5  2
6  0
7  1
8  1
9  1

In [20]:
#Mostrando los datos de la observacion.
pd.DataFrame(y_test).head(10)

   0
0  2
1  1
2  0
3  2
4  0
5  2
6  0
7  1
8  1
9  1

In [21]:
#Importar la matriz de confusion para el analisis de aciertos del modelo
from sklearn.metrics import confusion_matrix

In [22]:
cm=confusion_matrix(y_test,y_pred)
cm

array([[13,  0,  0],
       [ 0, 15,  1],
       [ 0,  0,  9]], dtype=int64)

In [23]:
#PREDICCION DE LA PRACTICA PERO ESTA VEZ CON LOS DATOS NORMALIZADOS.
#RESPUSTA: Prediccion 1 - VERSICOLOR  (CORRECTO)
y_pred_especifico = clasificacion.predict(sc_x.fit_transform([[1.2,3.4,5.6,1.1]]))
pd.DataFrame(y_pred_especifico)

   0
0  1