# Unir 300 datasets

In [18]:
#import pandas as pd
import pandas as pd

In [23]:
#data = pd.read_csv("C:/Users/Vic/Documents/CursoMachineLearning/Modulo 1/dataset/distributed-data/001.csv")
#data.head()

data= pd.read_csv("C:/Users/Vic/Documents/CursoMachineLearning/Modulo 1/dataset/distributed-data/001.csv")
data.head()

         Date  sulfate  nitrate  ID
0  2003-01-01      NaN      NaN   1
1  2003-01-02      NaN      NaN   1
2  2003-01-03      NaN      NaN   1
3  2003-01-04      NaN      NaN   1
4  2003-01-05      NaN      NaN   1

In [4]:
#Matrices sparced, cuando existen muchos NaN, o cuando todo esta en cero o si faltan muchos datos.
#Ej. puede que el sensor no este trabajando bien.

In [24]:
data.shape

(1461, 4)

In [33]:
#filepath="C:/Users/Vic/Documents/CursoMachineLearning/Modulo 1/dataset/distributed-data/"
#data=pd.read_csv("C:/Users/Vic/Documents/CursoMachineLearning/Modulo 1/dataset/distributed-data/001.csv")
#for i in range(2,333):
    #if i < 10:
     #   filename="00"+str(i)
    #if i>=10 and i<100:
     #   filename="0"+str(i)
    #if i>=100:
     #   filename=str(i)
    #file=filepath+filename+".csv"
    #temp_data=pd.read_csv(file)
    
    #data = pd.concat([data, temp_data], axis=0)
        
filepath="C:/Users/Vic/Documents/CursoMachineLearning/Modulo 1/dataset/distributed-data/"
data=pd.read_csv(filepath+"001.csv")
for i in range(2,333):
    if i < 10:
        filename="00"+str(i)
    if i > 10 and i<100:
        filename="0"+str(i)
    if i > 100:
        filename=str(i)
    file=filepath+filename+".csv"
    temp_data=pd.read_csv(file)
    
    data=pd.concat([data, temp_data], axis=0)

In [35]:
data.shape #772087 registros

(775738, 4)

In [41]:
data.tail()

           Date  sulfate  nitrate   ID
726  2004-12-27      NaN      NaN  332
727  2004-12-28      NaN      NaN  332
728  2004-12-29      NaN      NaN  332
729  2004-12-30      NaN      NaN  332
730  2004-12-31      NaN      NaN  332

In [42]:
#filepath="distributed-data/"
#data=pd.read_csv("distributed-data/001.csv")

#final_length=len(data)

#for i in range(2,333):
#    if i < 10:
#        filename="00"+str(i)
#    if i>=10 and i<100:
#        filename="0"+str(i)
#    if i>=100:
#        filename=str(i)
#    file=filepath+filename+".csv"
#    temp_data=pd.read_csv(file)
    
#    final_length+=len(temp_data)
    
#    data = pd.concat([data, temp_data], axis=0)
       
filepath="C:/Users/Vic/Documents/CursoMachineLearning/Modulo 1/dataset/distributed-data/"
data=pd.read_csv(filepath+"001.csv")

final_length=len(data)

for i in range(2,333):
    if i < 10:
        filename="00"+str(i)
    if i > 10 and i<100:
        filename="0"+str(i)
    if i > 100:
        filename=str(i)
    file=filepath+filename+".csv"
    temp_data=pd.read_csv(file)
    
    final_length+=len(temp_data)
    
    data=pd.concat([data, temp_data], axis=0)

In [43]:
#Para comprobar la union correcta de todos los datasets
final_length==data.shape[0]

True

In [16]:
#Las empresas grandes (netflix, bancos, etc) trabajan con csv.
#Con powerBi se pueden hacer validaciones similar a excel.
#ML es netamente csv.
#El cargado de duplicados. En la clase de dumificacon y datawranglin trabajar la limpieza de datos.
#Para el control de duplicado construir un algoritmo para el control de duplicados.
#Gran parte de ML se dedica a la limpieza de datos.
#Si el DS no esta bien hecho el algoritmo genera cualquier dato.