In [70]:
#import numpy as np
#import pandas as pd
#import matplotlib.pyplot as plt

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [71]:
#dataset = pd.read_csv("C:/Users/Vic/Documents/CursoMachineLearning/Modulo 1/dataset/50_Startups/50_Startups.csv")
#dataset.head()

dataset=pd.read_csv("C:/Users/Vic/Documents/CursoMachineLearning/Modulo 1/dataset/50_Startups/50_Startups.csv")
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [72]:
#Obtener los campos para las variables X,Y
#x=dataset.iloc[:,:-1].values
#y=dataset.iloc[:,4].values

x=dataset.iloc[:,:-1].values
y=dataset.iloc[:,4].values

In [73]:
#Datos de la variable X
#pd.DataFrame(x).head()
pd.DataFrame(x).head()

        0        1       2           3
0  165349   136898  471784    New York
1  162598   151378  443899  California
2  153442   101146  407935     Florida
3  144372   118672  383200    New York
4  142107  91391.8  366168     Florida

In [74]:
#Datos de la variable Y
#pd.DataFrame(y).head()
pd.DataFrame(y).head()

           0
0  192261.83
1  191792.06
2  191050.39
3  182901.99
4  166187.94

In [76]:
#DUMMIFICACION

#PARA VERSIONES ACTUALES DE ANACONDA.
#from sklearn.compose import ColumnTransformer
#from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [78]:
#Dumificar la columna 3 'Estados'
#ct=ColumnTransformer(transformers=[('oh', OneHotEncoder(),[3])],remainder="passthrough") #oh=OneHotEncoder
ct=ColumnTransformer(transformers=[('oh', OneHotEncoder(),[3])],remainder='passthrough')

#Ajutar y guardar la transformacion en la misma x
#x=ct.fit_transform(x)
x=ct.fit_transform(x)

In [80]:
#pd.DataFrame(x).head()
pd.DataFrame(x).head()

   0  1  2       3        4       5
0  0  0  1  165349   136898  471784
1  1  0  0  162598   151378  443899
2  0  1  0  153442   101146  407935
3  0  0  1  144372   118672  383200
4  0  1  0  142107  91391.8  366168

In [22]:
#DUMMIFICACION 

#PARA VERSIONES ANTERIORES DE ANACONDA
#Libreria para la dummificacion de columnas
#from sklearn.preprocessing import OneHotEncoder
#onehotencoder= OneHotEncoder(categorical_features=[3]) #3=Columna State

In [31]:
#x=onehotencoder.fit_transform(x).toarray()

In [32]:
#En este ejemplo no se necesita labelencoder (Francia=1, Espana=2)
#OneHotEncoder para decir Alemania no es menor que Espana

In [81]:
#MULTICOLINIALIDAD

#Significa que existe una fuerte correlacion entre dos o mas variables.
#Evitar el problema de la multicolinialidad
#Deshaserce de una de estas columnas, para evitar problemas de duplicacion
#Normalmente se elimina la columna 0. No interesa la columna.
#Siempre tienen que eliminar una columnas, si tienen 10 categorias eliminan 1

#x=x[:,1:]
x=x[:,1:]

In [82]:
#pd.DataFrame(x).head()
pd.DataFrame(x).head()

   0  1       2        3       4
0  0  1  165349   136898  471784
1  0  0  162598   151378  443899
2  1  0  153442   101146  407935
3  0  1  144372   118672  383200
4  1  0  142107  91391.8  366168

In [83]:
#DIVISION DE DATOS DE ENTRENAMIENTO Y PRUEBAS

#from sklearn.model_selection import train_test_split
#from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [84]:
#x_train,x_test, y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [85]:
#ENTRENAMIENTO DEL MODELO

#regresion=LinearRegression()
#regresion.fit(x_train, y_train)
regresion=LinearRegression()
regresion.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [93]:
#PREDICCION DE Y A PARTIR DE X_TEST

#y_pred=regresion.predict(x_test)
y_pred=regresion.predict(x_test)

In [94]:
#pd.DataFrame(y_pred)
pd.DataFrame(y_pred)

               0
0  103015.201598
1  132582.277608
2  132447.738452
3   71976.098513
4  178537.482211
5  116161.242302
6   67851.692097
7   98791.733747
8  113969.435330
9  167921.065696

In [95]:
#pd.DataFrame(y_test)

pd.DataFrame(y_test)

           0
0  103282.38
1  144259.40
2  146121.95
3   77798.83
4  191050.39
5  105008.31
6   81229.06
7   97483.56
8  110352.25
9  166187.94

In [98]:
#SOCRE DEL MODELO

#regresion.score(x_test,y_test)
regresion.score(x_test,y_test)

#93,4% de precision en el modelo.
#El porcentaje 93% puede mejorar dependiendo del equipo, procesador. (i7 4gen, 16gb ram)
#No buscar el 100% porque es overfiting. con un 93% esta bien.
#En el ejemplo no es necesario hacer el escalado de datos, todas las columnas estan en miles de datos.
#Todos los ejemplos se pueden solucionar con redes neuronales, aumentado una capa para incrementar la precision.

0.9347068473282446