# Laboratorio Final - Limpieza y Procesamiento de datos.

In [122]:
#import pandas as pd
#import numpy as np
#from sklearn.preprocessing  import Imputer
import pandas as pd
import numpy as np

In [123]:
#sklearn libreria para trabajar en la limpieza y procesamiento de la informacion
    #Limpieza = Remplazar datos NaN, Convertir de Decimal a Entero
    #Procesamiento = Valores dumificados, agregar columnas
#Algunos a la limpieza de datos lo llamas preprosesamiento de datos
#Imputer, permite llenar la informacion faltante.

In [124]:
#dataset = pd.read_csv("C:/Users/Vic/Documents/CursoMachineLearning/Modulo 1/dataset/data/Data.csv")
#dataset=pd.read_csv("C:/Users/Vic/Documents/CursoMachineLearning/Modulo 1/dataset/data/Data.csv")
dateset=pd.read_csv("C:/Users/Vic/Documents/CursoMachineLearning/Modulo 1/dataset/data/Data.csv")

In [125]:
#dataset
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

### Limpieza y procesamiento

In [126]:
#Predecir si un cliente compra o no un producto
#X es la variable independiente o tambien llamado matriz de caracteristicas
#x = dataset.iloc[:,:-1].values 
x=dataset.iloc[:,:-1].values
#Y es la variable objetivo a buscar o variable dependiente
#y = dataset.iloc[:,3].values
y=dataset.iloc[:,3].values

In [127]:
#pd.DataFrame(x)
pd.DataFrame(x)

         0    1      2
0   France   44  72000
1    Spain   27  48000
2  Germany   30  54000
3    Spain   38  61000
4  Germany   40    NaN
5   France   35  58000
6    Spain  NaN  52000
7   France   48  79000
8  Germany   50  83000
9   France   37  67000

In [128]:
#pd.DataFrame(y)
pd.DataFrame(y)

     0
0   No
1  Yes
2   No
3   No
4  Yes
5  Yes
6   No
7  Yes
8   No
9  Yes

In [129]:
#Libreria para llenar informacion faltante o valores nulos
#from sklearn.preprocessing import Imputer #Llenar informacion faltante
#from sklearn.impute import SimpleImputer
from sklearn.impute import SimpleImputer

In [130]:
#IMPUTER=SIMPLEIMPUTER(...)

#Define el tipo de estrategia para reemplazar los valores nulos
#imputer=Imputer(missing_values="NaN",strategy="mean", axis=0) #En imputer axis = 0 es columna al reves.
#imputer=SimpleImputer(missing_values=np.nan, strategy='mean')
imputer=SimpleImputer(missing_values=np.nan, strategy='mean')

In [131]:
#IMPUTER=IMPUTET.FIT

#Generar un array del tipo SimpleImputer con los valores sustituidos
#Aplicando la media a todas la filas de las columnas 1 y 2.(1:3, porque recorre hasta menos 1)
#imputer = imputer.fit(x[:,1:3]) #fit = arreglar
imputer=imputer.fit(x[:,1:3])

In [132]:
type(imputer)

sklearn.impute.SimpleImputer

In [134]:
#X=IMPUTER.TRANSFOR

#Ejecuta la susticion en las columnas 1 y 2 de la variable X
#x[:,1:3]=imputer.transform(x[:,1:3])
x[:,1:3]=imputer.transform(x[:,1:3])

In [135]:
#pd.DataFrame(x)
pd.DataFrame(x)

         0        1        2
0   France       44    72000
1    Spain       27    48000
2  Germany       30    54000
3    Spain       38    61000
4  Germany       40  63777.8
5   France       35    58000
6    Spain  38.7778    52000
7   France       48    79000
8  Germany       50    83000
9   France       37    67000

In [136]:
#libreria la codificacion de etiquetas
#Categorizacion tambien se conoce como etiquetas.
#Las categorias no son datos numericos

#from sklearn.preprocessing import LabelEncoder

from sklearn.preprocessing import LabelEncoder

In [137]:
#FIT TRANSFORM

#Aplicando una transformacion a la columna 'Paises' para convertir a valores numericos.
#De x la columnas 0 se tiene que transformar
#labelenconder_x=LabelEncoder()
#labelenconder_x.fit_transform(x[:,0])

#Ajusta los datos y luego los transforma
labelencoder_x=LabelEncoder()
labelencoder_x.fit_transform(x[:,0])

array([0, 2, 1, 2, 1, 0, 2, 0, 1, 0])

In [138]:
#LABELENCODER.FIT_TRANSFORM(X)

#Almacenar toda la transformacion (label encoder=codificacion de la etiqueta) en la columna 0 'Paises' de x
#x[:,0]=labelenconder_x.fit_transform(x[:,0])
x[:,0]=labelencoder_x.fit_transform(x[:,0])

In [139]:
pd.DataFrame(x)

   0        1        2
0  0       44    72000
1  2       27    48000
2  1       30    54000
3  2       38    61000
4  1       40  63777.8
5  0       35    58000
6  2  38.7778    52000
7  0       48    79000
8  1       50    83000
9  0       37    67000

In [140]:
#DUMMIFICACION COLUMNA COUNTRIES

#Libreria para la dumificacion de columnas (categorizar con campos equivalentes)
#Un pais nunca es menor que otro.
#Son variable ordinales, esta bien mantener el orden. Ej. ropa pequena, ropa mediana.
#Son variables categorias. No existe la camparacion Ej. France, Espana; hombre, mujer.
#from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OneHotEncoder

In [141]:
#ONEHOTENCODER

#onehotencoder = OneHotEncoder(categorical_features=[0]) #dumificar la columna 0 'Paises'

onehotencoder= OneHotEncoder(categorical_features=[0])

In [142]:
#FIT_TRANSFORM

#x = onehotencoder.fit_transform(x).toarray()
x = onehotencoder.fit_transform(x).toarray()

C:\Users\Vic\Anaconda2\lib\site-packages\sklearn\preprocessing\_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\Vic\Anaconda2\lib\site-packages\sklearn\preprocessing\_encoders.py:390: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [143]:
pd.DataFrame(x)

     0    1    2          3             4
0  1.0  0.0  0.0  44.000000  72000.000000
1  0.0  0.0  1.0  27.000000  48000.000000
2  0.0  1.0  0.0  30.000000  54000.000000
3  0.0  0.0  1.0  38.000000  61000.000000
4  0.0  1.0  0.0  40.000000  63777.777778
5  1.0  0.0  0.0  35.000000  58000.000000
6  0.0  0.0  1.0  38.777778  52000.000000
7  1.0  0.0  0.0  48.000000  79000.000000
8  0.0  1.0  0.0  50.000000  83000.000000
9  1.0  0.0  0.0  37.000000  67000.000000

In [144]:
#LABELENCODER COLUMNA PURCHASED

#Categorizano la columnas 'Purchased' si/no a 0 y 1
#Generalemte las variables dependiente 'Y' nunca se dumifican, solo se aplica a la variable x
#labelenconder_y=LabelEncoder()
#y=labelenconder_y.fit_transform(y)
labelencoder_y=LabelEncoder()
y=labelencoder_y.fit_transform(y)

In [145]:
pd.DataFrame(y)

   0
0  0
1  1
2  0
3  0
4  1
5  1
6  0
7  1
8  0
9  1

### Entrenamiento

In [269]:
    #En el entrenamiento hay que hacer la division.
    #Un porcentaje para el entrenamiento y el resto para el testeo.
    #Entrenamiento =80%; testeo=20% (conocido como la regla de pareto)

In [146]:
#TRAIN_TEST_SPLIT

#Libreria encargada de realizar el entrenamiento del modelo.
#from sklearn.model_selection import train_test_split
from sklearn.model_selection import train_test_split

In [147]:
#Valores devuelve por train_test_split
    #x_train, variable de entrenaimiento para x. Conjunto de variables independientes que se 
            #utiizan para entrenar el algoritmo.
    #x_test, variable de testeo, valores que se encargan de testear que el algoritmo funcione correctamente.
    #y_train, valores de prediccion que se entregan al algoritmo para que aprendan a predecirlos.
    #y_test, validar la efici,acia del algoritmo.r se earca y asigna a las variables.
#Si solamente vamos a crear el modelo, no vamos a (bajoajuste) saber si funciona mal
#Si suministramos toda la informacion el algoritmo aprenderia de memoria como una persona. Solo memoriza#Jamas dar todo el dataset.
#Un algoritmo de ML tiene que aprender, no memorizar. 
#Se entrena para aprender, no para memorizar.


#OVERFITING (sobreajuste), es un problema de memorizacion.
#UNDERFITING (bajoajuste), no a aprendido nada, todo responde mal.

#Las variables que se necesitan para entrenar estan en x,y
#test_size=20% para el testeo
#random_state=numero de similla (cualquier numero). El entrenamiento siempre se lo hace con una semilla.

#x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0) 
x_train,x_text,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [148]:
x_train

array([[0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 4.00000000e+01,
        6.37777778e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.70000000e+01,
        6.70000000e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 2.70000000e+01,
        4.80000000e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 3.87777778e+01,
        5.20000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 4.80000000e+01,
        7.90000000e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 3.80000000e+01,
        6.10000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 4.40000000e+01,
        7.20000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.50000000e+01,
        5.80000000e+04]])

### Escalado de informacion

In [39]:
#Escalado de datos significa normalizar los valores, para que esten entandarizados en un mismo rango de valores 
#[-1 hasta 1], los valores normalmente van de -1 a 1
#El escalado es entre columnas, no en la dispercion de los datos en la columna.

#Una columna no puede tener un valor mayor que otra. o favorecimiento a una sola columnas.
#El escalado permite equilibrar.
#Distancia entre dos puntos o distancia euclidiana o teorema de pitagoras 
    #sqrt((x2-x1)^2+(y2-y1)^2)
#Si hay columnas que llevan datos muy grandes, los datos seran imperceptible. La soluciona escalado de datos.

#Se puede escalar las variable dummy?
#R. si y no. Si no estan en el mismo rango escalar.
#Ej. en paises no tiene sentido escalar, todos son del mismo rango.

#Al estandarizar datos ganamos un equilibro en el algoritmo, para que aprenda.
#Si queremos que un algoritmo aprenda hay que estandarizar y equilibrar.
#Ej. Si decimos que el gato tiene orejas, entonces estariamos inclinando el algoritmo hacia el gato.
#La idea es que toda la informacion se perciba, equilibre, espara que no exista un sesgo por parte del algoritmo a una sola columna
#Ej. predecir una enfermedad. Si no esta equilibrado puede dar informacion erronea.

#Siempre se debe estandarizar?
#R. en el mayor de los casos, en un 80 o 85% si. Si ves columnas con numeros muy grandes respecto a otra columna eontces estandarizar.
#R. En algunos casos no se necesita estandarizar, se puede mirar el data donde no hay numeros muy grandes.

In [149]:
#STANDARSCALER

#La estandarizacion generalmente se lo hace a x, no a y. x_train, x_test
#from sklearn.preprocessing import StandardScaler
#sc_x=StandarScaler()

from sklearn.preprocessing import StandardScaler
sc_x=StandardScaler()

In [150]:
#x_train=sc_x.fit_transform(x_train) #
#x_test=sc_x.transform #Solo transform, porque ya esta fijado, siempre sucede eso
x_train=sc_x.fit_transform(x_train)
x_test=sc_x.transform

In [152]:
#Ya no hay mayores,ni menores, todo esta escalado
x_train

array([[-1.        ,  2.64575131, -0.77459667,  0.26306757,  0.12381479],
       [ 1.        , -0.37796447, -0.77459667, -0.25350148,  0.46175632],
       [-1.        , -0.37796447,  1.29099445, -1.97539832, -1.53093341],
       [-1.        , -0.37796447,  1.29099445,  0.05261351, -1.11141978],
       [ 1.        , -0.37796447, -0.77459667,  1.64058505,  1.7202972 ],
       [-1.        , -0.37796447,  1.29099445, -0.0813118 , -0.16751412],
       [ 1.        , -0.37796447, -0.77459667,  0.95182631,  0.98614835],
       [ 1.        , -0.37796447, -0.77459667, -0.59788085, -0.48214934]])

In [154]:
x_test