In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [2]:
titanic_train=pd.read_csv("C:/Users/Vic/Documents/CursoMachineLearning/Modulo 1/dataset/titanic/train.csv")
titanic_test=pd.read_csv("C:/Users/Vic/Documents/CursoMachineLearning/Modulo 1/dataset/titanic/test.csv")

In [3]:
titanic_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
titanic_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
titanic_train.shape

NameError: name 'titanic_train' is not defined

In [6]:

titanic_train.shape

NameError: name 'titanic_train' is not defined

In [7]:
pd.isnull(titanic_train).sum()

NameError: name 'titanic_train' is not defined

In [8]:
pd.isnull(titanic_test).sum()

NameError: name 'titanic_test' is not defined

In [9]:
titanic_train.describe()

NameError: name 'titanic_train' is not defined

In [12]:
titanic_train['Sex'].replace(['female','male'],[0,1],implace=True)
titanic_test['Sex'].replace(['female','male'],[0,1]),implace=True)

SyntaxError: invalid syntax (<ipython-input-12-5575b6a35405>, line 2)

In [13]:
titnic_train['Embarked']replace(["Q","S","C"],[0,1,2],inplace=True)
titnic_test['Embarked']replace(["Q","S","C"],[0,1,2],inplace=True)

SyntaxError: invalid syntax (<ipython-input-13-d2b79ad87464>, line 1)

In [14]:
titanic_train.head()

NameError: name 'titanic_train' is not defined

In [15]:
titanic_test.head()

NameError: name 'titanic_test' is not defined

In [17]:
print(titanic_train['Age'].mean())
print(titanic_test['Age'].mean())
#Equilibrar ambos dataset
promedio=30

NameError: name 'titanic_train' is not defined

In [18]:
titanic_train['Age']=titanic_train['Age'].replace(np.nan, promedio)
titanic_test['Age']=titanic_train['Age'].replace(np.nan, promedio)

NameError: name 'titanic_train' is not defined

In [34]:
#Los rangos son similares a categorizacion.
#Se utiliza en rango de edades o bloques.
#Para poder tener un control adecuado del nivel de procesamiento.
#Para no trabajar con tantas edades categorizar en catagorias o rangos. Para no estar procesando edad por edad
#Rangos de edades, poblaciones en cuadras,etc
#Se puede trabajar con un solo rango. Ej. sobrevivientes en el rango 20 a 25.
#En estadista, se consideran todos los rangos.
#Son rangos de edades de verificacion internacional.
bins=[0,8,15,18,25,40,60,100]
#Etiquetas de los rangos
names=['1','2','3','4','5','6','7']

#Si hay pensonas entre 9 y 8 coloca en el rango 1, etc.
titanic_train['Age']=pd.cut(titanic_train['Age'], bins, labels=names)
titanic_test['Age']=pd.cut(titanic_test['Age'], bins, labels=names)

#Aveces el kernel de jupiter genera errores.
#Para solucionar Kernel>Restart & RunAll

NameError: name 'titanic_train' is not defined

In [22]:
titanic_train.drop(['cabin'],axis=1, inplace=True)
titanic_test.drop(['cabin'],axis=1, inplace=True)

titanic_train=titanic_train.drop(['PassengerId','Name','Ticket'],axis=1)
titanic_test=titanic_train.drop(['Name','Ticket'],axis=1)

#Eliminar filas perdidas
titanic_train.dropna(axis=0 how='any', inplace=True)
titanic_test.dropna(axis=0 how='any', inplace=True)

SyntaxError: invalid syntax (<ipython-input-22-88e88c8effb6>, line 8)

In [23]:
print(pd.isnull(titanic_train).sum)
print(pd.isnull(titanic_test).sum)

NameError: name 'titanic_train' is not defined

In [24]:
print(titanic_train.shape)
print(titanic_test.shape)

NameError: name 'titanic_train' is not defined

In [26]:
print(titanic_train.head())
print(titanic_train.head())


#HASTA AQUI TODOS ES LIMPIEZA Y PROCESAMIENTO

NameError: name 'titanic_train' is not defined

### Modelo

In [27]:
x=np.array(titanic_train.drop(['Survived'],1))#Todas las columnas menos Survived
y=np.arrya(titanic_train['Survived'])

NameError: name 'titanic_train' is not defined

In [28]:
x_train,x_test, y_train, y_test=train_test_split(x,y,test_size=0.2)

NameError: name 'x' is not defined

In [30]:
logreg=LogisticRegression()
logreg.fit(x) ##??

#max_iteracion, como se trabaja con la funcion sismoide en logreg se trabaja con iteraciones.

NameError: name 'x' is not defined

In [31]:
y_pred=logreg.predict(x_test)

NameError: name 'x_test' is not defined

In [32]:
print("Presion Regresion Logistica")
print(logreg.socore(x_train,y_train))


#80%, se podria mejor si subimos la iteraciones

Presion Regresion Logistica

AttributeError: 'LogisticRegression' object has no attribute 'socore'

In [33]:
#Predecir si un pasajero ha sobrevivido.
#Para las predicciones se puede usar otros algoritmos. No se puede usar Regresion Lineal simple ni multiple.

ids=titanic_test['PassengerId']
prediccion_logreg=logreg.predict(titanic_test.dropt('PassengerId', axis=1))
out_logreg=pd.DataFrame({'PassengerId':ids, 'Survived':prediccion_logreg})
print("Prediccion regresion logistica")
print(out_logreg.head())

NameError: name 'titanic_test' is not defined